form {
  width: 40%;
  background-color: rgb(238, 238, 238);
  margin-left: 30%;
  border: 1px solid black;
  padding-bottom: 20px;
}
body {
  font-family: Arial, sans-serif;
}

h1 {
  margin-top: 5px;
  margin-left: 140px;
}

.data {
  text-align: right;
}

.data p {
  font-size: 20px;
}

.data span {
  margin-right: 20px;
}

.data input {
  width: 35%;
  height: 25px;
  margin-right: 200px;
}

.social {
  text-align: right;
  height: 30px;
  margin-right: 100px;
  display: flex;
  flex-wrap: nowrap;
}

.label {
  margin-left: 15%;
  font-size: 18px;
}

.var {
  margin-top: 15px;
  margin-left: 20px;
}

button {
  margin-left: 18%;
  margin-top: auto;
  height: 30px;
  width: 90px;
}
footer {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(0, 255, 0, 0.274);
}
aside {
  width: 40%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  margin-top: 50px;
}
.facult {
  padding-top: 10px;
  height: 34px;
  width: 130px;
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
}
.dropfac {
  height: auto;
  cursor: pointer;
  position: absolute;
  margin-top: 45px;
  display: none;
  border: 2px solid black;
  width: 130px;
  background-color: white;
  margin-left: -513px;
  display: block;
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}
.dropgrop {
  cursor: pointer;
  position: absolute;
  margin-top: 45px;
  display: none;
  border: 2px solid black;
  width: 130px;
  background-color: white;
  margin-left: 0px;
  display: block;
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}
.dropcour {
  cursor: pointer;
  position: absolute;
  margin-top: 45px;
  display: none;
  border: 2px solid black;
  width: 130px;
  background-color: white;
  margin-left: 512px;
  display: block;
  visibility: hidden;
  &:hover {
    visibility: visible;
  }
}
.dropel {
  font-size: 14px;
  text-align: center;
  border-bottom: 2px solid black;
  &:hover {
    background-color: rgb(168, 168, 168);
  }
}
#fac:hover ~ .dropfac {
  visibility: visible;
}
#cour:hover ~ .dropcour {
  visibility: visible;
}
#grop:hover ~ .dropgrop {
  visibility: visible;
}
